html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(89, 89, 89, 0.2);
  border-top: 5px solid #595959;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.loading-text {
  font-family: "AK", sans-serif;
  font-size: 2vh;
  color: #595959;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  